---
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maneth Pak">
  <About />
  <Skills />
  <!-- <section id="experience">Experience</section>
  <section id="project">Project</section>
  <section id="guestbook">guestbook</section> -->
  <Footer />
</Layout>
