---
import Copy from "../components/Copy";
---

<section class="relative" id="about">
  <article
    class="max-w-xl my-[2rem] lg:my-[8rem] prose prose-neutral dark:prose-invert prose-h2:mt-10"
  >
    <h1 class="mb-2">
      Hey 👋
      <br /> I'm Pak Maneth
    </h1>

    <h2 class="text-3xl mb-6">I write code and build stuff.</h2>
    <div class="space-y-6">
      <h3 class="text-2xl">A short and trivial stuff about me</h3>
      <p>I am a Software ngineer based in Phnom Penh, Cambodia.</p>
      <p>
        I have been working as a software engineer for more than 3 years now. I
        have experience working with various technologies and programming
        languages. I have worked on both frontend and backend side of things.
        Kind of like a jack of all trades.
      </p>

      <p>
        Also big fan of open source software. Love contributing to the community
        and build my own stuff.
      </p>

      <p>
        When I'm not on my programming mode, I would usally be playing games,
        binge watching movie and anime. Go out in-door bouldering or just grab a
        drink with friends.
      </p>
    </div>
  </article>

  <div>
    <h3 class="text-2xl font-semiboldtext-center">
      You can find me on my social
    </h3>

    <div class="flex gap-6 justify-center text-[3rem]">
      <a
        href="https://www.linkedin.com/in/maneth-pak/"
        class="hover:opacity-75"
      >
        <i class="devicon-linkedin-plain"></i>
      </a>
      <a href="https://github.com/Manethpak/" class="hover:opacity-75">
        <i class="devicon-github-plain"></i>
      </a>
    </div>
    <div class="flex flex-col gap-2 text-lg pt-4">
      <p class="flex gap-2">
        Email: <a
          href="mailto:manethpak00@gmail.com"
          class="hover:opacity-80 hover:underline mr-4">Manethpak00@gmail.com</a
        >
        <Copy client:load />
      </p>
    </div>
  </div>
</section>
