---
import { MoonIcon, SunIcon } from "lucide-react";
---

<div class="fixed bottom-4 right-4 lg:bottom-10 lg:right-10 z-20">
  <label class="swap swap-rotate" id="swap">
    <input type="checkbox" />

    <MoonIcon
      data-set-theme="lofi"
      data-act-class="ACTIVECLASS"
      className="swap-on fill-current w-12 h-12 lg:w-14 lg:h-14 p-2 lg:p-3 border-2 rounded-full"
    />

    <SunIcon
      data-set-theme="black"
      data-act-class="ACTIVECLASS"
      className="swap-off fill-current w-12 h-12 lg:w-14 lg:h-14 p-2 lg:p-3 border-2 rounded-full"
    />
  </label>
</div>
